<%= stylesheet_link_tag "movie", "data-turbo-track": "reload" %>

<div id="movie">

  <div id="edit_wrapper">
    <a href="<%= url_for(edit_movie_path(@movie)) %>">
      <span class="material-symbols-outlined">
      edit
      </span>

      <p>Editar dados do Filme</p>
    </a>
  </div>

  <h1 id="movie_title"><%= @movie.title %></h1>

  <%= image_tag @movie.poster, id: 'poster', alt: "Pôster do Filme #{@movie.title}" if @movie.poster.attached? %>

  <div id="movie_info_wrapper">
    <div id="movie_info_item"><strong>Ano de Lançamento:</strong><p><%= @movie.year_of_release %></p></div>
    <div id="movie_info_item"><strong>Status de lançamento:</strong><p><%= @movie.released %></p></div>
    <div id="movie_info_item"><strong>Sinopse:</strong><p><%= @movie.synopsis %></p></div>
    <div id="movie_info_item"><strong>País de Origem:</strong><p><%= @movie.made_in %></p></div>
    <div id="movie_info_item"><strong>Duração (em min):</strong><p><%= @movie.duration %></p></div>
    <div id="movie_info_item"><strong>Gênero:</strong><p><%= @movie.genre.name %></p></div>
    <div id="movie_info_item"><strong>Diretor:</strong><p><%= @movie.director.name %></p></div>

    <% if @movie.status == 'draft' %>
      <%= button_to 'Publicar rascunho', publish_movie_path, { method: 'patch' } %>
    <% end %>
  </div>

</div>
